@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Toast */
.toast-container {
    z-index: 9999;
    bottom: 24px;
    right: 24px;
}

.toast {
    max-width: 420px;
    padding: 8px;
    border-radius: 18px;

    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;

    box-shadow: 0 12px 30px rgba(0, 0, 0, .20);
    transition: all .25s ease;
}

#toastIcon {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.toast-body {
    padding: 14px 16px;
}

.toast .btn-close {
    transform: scale(1.15);
}

.toast-success {
    background-color: #13c20d;
}

.toast-error {
    background-color: #c01b29;
}

.toast-warning {
    background-color: #F59E0B;
    color: #2B1B00;
}

/* Modal */

.campo-linha {
    border: none;
    border-bottom: 1px solid #c0c0c1;
    border-radius: 0;
    box-shadow: none !important;
    background-color: transparent !important;
    transition: border-color 0.2s, border-width 0.2s;

}

.campo-linha:focus {
    border-color: #000 !important;
    border-bottom: 2px solid #000 !important;
    box-shadow: none !important;
    outline: none !important;
}

#modalCadastro .modal-content{
    background:#fff;
    border-radius:10px;
}

#modalCadastro .modal-header{
    background:#0d6efd;
    color:white;
}

#modalCadastro .modal-title,
#modalNovo .modal-title {
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

#modalCadastro .modal-body,
#modalNovo .modal-body {
    padding: 30px;
}

#modalCadastro .form-label,
#modalNovo .form-label {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #000;
}

#modalCadastro .campo-linha,
#modalNovo .campo-linha {
    color: #4A3639;
    padding: 10px;
}

#modalCadastro .campo-linha:focus,
#modalNovo .campo-linha:focus {
    border-color: #000000 !important;
    border-bottom: 2px solid #000000 !important;
}

#planoModal{
    background-color: #000 !important;
    color: #fff !important;
    border-radius: 20px;
    border: 1px solid #303030;
}

#planoModal .modal-header,
#planoModal .modal-body{
    background-color: #000 !important;
}

#planoModal .btn-close{
    filter: invert(1);
}

.titulo-plano{
    font-size:2rem;
    font-weight:700;
    margin-bottom:10px;
}

.preco-plano{
    font-size:2.8rem;
    font-weight:800;
    margin-bottom:0;
}

.btn-plano{
    width:100%;
    padding:12px;
    border-radius:50px;
    background:transparent;
    border:2px solid;
    color:white;
    font-weight:700;
    transition:.3s;
}

.texto-plano{
    color: #BDBDBD !important;
}

.linha-plano{
    border-color: #444 !important;
}

.beneficio{
    color: #E8E8E8 !important;
}

.beneficio i{
    margin-right: 10px;
}

.modal-ingles .titulo-plano,
.modal-ingles .preco-plano,
.modal-ingles .beneficio i{
    color:#E53935;
}

.modal-ingles .btn-plano{
    border-color:#E53935;
    color:#E53935;
}

.modal-espanhol .titulo-plano,
.modal-espanhol .preco-plano,
.modal-espanhol .beneficio i{
    color:#FFC107;
}

.modal-espanhol .btn-plano{
    border-color:#FFC107;
    color:#FFC107;
}

.modal-frances .titulo-plano,
.modal-frances .preco-plano,
.modal-frances .beneficio i{
    color:#2979FF;
}

.modal-frances .btn-plano{
    border-color:#2979FF;
    color:#2979FF;
}

.modal-japones .titulo-plano,
.modal-japones .preco-plano,
.modal-japones .beneficio i{
    color:#FFFFFF;
}

.modal-japones .btn-plano{
    border-color:#FFFFFF;
    color:#FFFFFF;
}

.modal-ingles .btn-plano:hover{
    background:#E53935;
    color:white;
}

.modal-espanhol .btn-plano:hover{
    background:#FFC107;
    color:black;
}

.modal-frances .btn-plano:hover{
    background:#2979FF;
    color:white;
}

.modal-japones .btn-plano:hover{
    background:white;
    color:black;
}

.containerQ2 {
    display: flex;
    flex-direction: row;
}

.navbarQ2 {
    display: flex;
    flex-direction: column !important;
}

.q2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}